.size{
    height: 100vh;
}

.drafts{
    overflow-y: auto;
    height: 70vh;

}

.logo{
    height: 34vh;
    width: 34vh;
}

.logo-start{
    height: 50vh;
    width: 50vh;
}


.font{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .text{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1px;
    color: black;
  }

  .register{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: 1px;
  }