.nav-bottom{
    background-color: #fefefe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .btn-icons.activeClicked {
    color: #2596be;
  }

  .home-container{
    background-color:#00b1c5;
    height: 11vh; 
    border-radius: 35px 35px;
    width: 95% !important;
  }
  .text-bold{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .text-sub{
    font-family: 'Roboto', sans-serif;
    color: darkgray;
  }
  .text{
    font-family: 'Roboto', sans-serif;
    color: #fefefe;
  }
 

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



/*sans serif*/
