.font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 1px;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.text{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1px;
}

.login-form {
  width: 100%;
}

.login-btn{
  height: 57px;
  background-color: #08439b !important;
  border-color: #08439b !important;
}

.buttons{
  background-color: #08439b !important;
  border-color: #08439b !important;
}

.login-btn:active{
  opacity: 0.50;
}

.nav-bottom{
  background-color: #e6d8d8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.btn-icons.activeClicked {
  color: #08439b;
}

.home-container{
  background-color:#00b1c5;
  height: 11vh; 
  border-radius: 35px 35px;
  width: 95% !important;
}

.text-bold{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.text-sub{
  font-family: 'Roboto', sans-serif;
  color: darkgray;
}

.size{
  height: 100vh;
}

.logo{
  height: 34vh;
  width: 34vh;
}

.logo-start{
  height: 50vh;
  width: 50vh;
}

.register{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: 1px;
}